header{
  width: 100%;
  position: relative;
  height: auto;
}
header h2{
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 30%;
}
header h2 strong{
  color:#ba002e;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 1);
}
header .header_back{
  display: block;
  width: 100%;
}
header img{
  display: block;
  width: 100%;
}